.Rproj.user
.Rhistory
.RData

data/bedfiles/chromhmm.*
data/bedfiles/h_*
data/bedfiles/g_*
data/bedfiles/k_*
data/bedfiles/h.*
data/bedfiles/g.*
data/bedfiles/k.*
data/bedfiles/none.bed
data/peaks/*

data/text/h.*
data/text/g.*
data/text/k.*

data/nonrepo/*

data/rds/tad_boundary_features.rds
