.Rproj.user
.Rhistory
.RData

data/bedfiles/chromhmm.*
data/bedfiles/h_*
data/bedfiles/g_*
data/bedfiles/k_*
data/bedfiles/h.*
data/bedfiles/g.*
data/bedfiles/k.*
data/bedfiles/none.bed
data/peaks/*

data/text/h.*
data/text/g.*
data/text/k.*

data/nonrepo/*

data/rds/tad_boundary_features.rds

data/bedfiles/gm_both_tads.bed

data/bedfiles/gm_ctcf_tads.bed

data/bedfiles/h1_yy1_tads.bed

data/bedfiles/k5_both_tads.bed

data/bedfiles/gm_yy1_tads.bed

data/bedfiles/h1_both_tads.bed

data/bedfiles/h1_ctcf_tads.bed

data/bedfiles/k5_ctcf_tads.bed

data/bedfiles/k5_yy1_tads.bed

data/rds/tad_split_boundaries.rds

data/rds/all40kb_H1hesc_35Vars.rds

data/rds/tadagg_Gm12878_34Vars.rds

data/rds/tadagg_H1hesc_34Vars.rds

data/rds/tadagg_K562_34Vars.rds

figures/inkscape/tads_epigenom.svg-g218699-644.png

data/rds/gm_tadpred.rds

data/rds/h1_tadpred.rds

data/rds/k5_tadpred.rds

data/rds/rpt_fam.rds

data/rds/rpt_class.rds

data/rds/rpt_fam_450.rds

data/rds/rpt_class_450.rds

data/rds/tadpred.rds

data/rds/k5_tadpred_v2.rds

data/rds/gm_tadpred_v2.rds

data/rds/h1_tadpred_v2.rds
