.Rproj.user
.Rhistory
.RData

data/bedfiles/chromhmm.*
data/bedfiles/h_*
data/bedfiles/g_*
data/bedfiles/k_*
data/bedfiles/h.*
data/bedfiles/g.*
data/bedfiles/k.*
data/bedfiles/none.bed
data/peaks/*

data/text/h.*
data/text/g.*
data/text/k.*

data/nonrepo/*

data/rds/tad_boundary_features.rds

data/bedfiles/gm_both_tads.bed

data/bedfiles/gm_ctcf_tads.bed

data/bedfiles/h1_yy1_tads.bed

data/bedfiles/k5_both_tads.bed

data/bedfiles/gm_yy1_tads.bed

data/bedfiles/h1_both_tads.bed

data/bedfiles/h1_ctcf_tads.bed

data/bedfiles/k5_ctcf_tads.bed

data/bedfiles/k5_yy1_tads.bed

data/rds/tad_split_boundaries.rds
